<!DOCTYPE html>
<html>
<head>
  <title>Registration Form</title>
</head>
<body>
  <h1>Registration Form</h1>
  <form method="POST" action="/registerteam">

    <!-- Team Member 1 Information -->
    <label for="teamMember1Name">Team Leader Name: <%= user.displayName %></label><br><br>
    <label for="teamMember2Email">Team Leader Email: <%= user.emails[0].value %></label><br><br>
    <label for="teamMember2Role">Team Leader Role:</label>
    <input type="text" id="teamleaderRole" name="teamleaderRole" required><br><br>

    <!-- Team Member 2 Information -->
    <label for="teamMember2Name">Team Member 2 Name:</label>
    <input type="text" id="teamMember2Name" name="teamMember2Name" required><br><br>
    <label for="teamMember2Email">Team Member 2 Email:</label>
    <input type="email" id="teamMember2Email" name="teamMember2Email" required><br><br>
    <label for="teamMember2Role">Team Member 2 Role:</label>
    <input type="text" id="teamMember2Role" name="teamMember2Role" required><br><br>
  
    <!-- Team Member 3 Information -->
    <label for="teamMember3Name">Team Member 3 Name:</label>
    <input type="text" id="teamMember3Name" name="teamMember3Name" required><br><br>
    <label for="teamMember3Email">Team Member 3 Email:</label>
    <input type="email" id="teamMember3Email" name="teamMember3Email" required><br><br>
    <label for="teamMember3Role">Team Member 3 Role:</label>
    <input type="text" id="teamMember3Role" name="teamMember3Role" required><br><br>
  
    <!-- Team Member 4 Information -->
    <label for="teamMember4Name">Team Member 4 Name:</label>
    <input type="text" id="teamMember4Name" name="teamMember4Name" required><br><br>
    <label for="teamMember4Email">Team Member 4 Email:</label>
    <input type="email" id="teamMember4Email" name="teamMember4Email" required><br><br>
    <label for="teamMember4Role">Team Member 4 Role:</label>
    <input type="text" id="teamMember4Role" name="teamMember4Role" required><br><br>
  
    <label for="paymentAmount">Payment Amount:</label>
    <input type="number" id="paymentAmount" name="paymentAmount" value="20" min="20" max="20" required><br><br>
  
    <button type="submit">Submit</button>
  </form>
  
</body>
</html>